appdirs==1.4.4
asgiref==3.2.3
attrs==20.3.0
autopep8==1.5.4
bcrypt==3.2.0
bson==0.5.8
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
cycler==0.10.0
dataclasses==0.6
defusedxml==0.7.0rc2
Distance==0.1.3
distlib==0.3.1
dj-database-url==0.5.0
Django==2.2.10
django-cors-headers==3.7.0
django-rest-passwordreset==1.1.0
django-smtp-ssl==1.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
djongo==1.3.1
dnspython==2.1.0
ecdsa==0.14.1
filelock==3.0.12
future==0.18.2
gunicorn==20.0.4
idna==2.10
kademlia==2.2.1
kiwisolver==1.1.0
matplotlib==3.2.0
numpy==1.18.1
oauthlib==3.1.0
pandas==1.0.2
pickle-mixin==1.0.2
psycopg2-binary==2.8.4
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
PyJWT==1.7.1
pymongo==3.10.1
pyparsing==2.4.6
pyswarms==1.2.0
python-dateutil==2.8.1
python-jose==3.2.0
python-nmap==0.6.1
python3-openid==3.2.0
pytz==2019.3
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rpcudp==4.0.1
rsa==4.7
scipy==1.6.0
six==1.14.0
social-auth-app-django==4.0.0
social-auth-core==4.0.3
SpeechRecognition==3.8.1
sqlparse==0.2.4
toml==0.10.2
tqdm==4.56.0
u-msgpack-python==2.6.0
urllib3==1.26.3
virtualenv==20.4.2
virtualenvwrapper-win==1.2.6
whitenoise==5.0.1
